<div class="container">
  <h1 class="my-4"><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to 'Back to list', restaurants_path, class: 'btn btn-primary' %>

</div>

<div class="container">
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
  <br>
</div>
